<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<div th:fragment="header" class="mb-5">
		<nav class="navbar navbar-light bg-light px-5">
		  <div class="container py-3">
		    <a class="navbar-brand fw-bolder">Album</a>
		    <form class="d-flex">
		      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" th:value="${search}">
		      <button class="btn btn-outline-success" type="submit">Search</button>
		    </form>
		    <div>
				<a href="/logout" class="btn btn-sm btn-outline-danger">Logout</a>
			</div>
		  </div>
		</nav>
	</div>
	
	<div class="container" th:fragment="home">
		<div class="row">
			<div class="col-12">
				<a th:href="@{/}" class="btn btn-sm btn-outline-warning fw-bold">Home Page</a>
			</div>
		</div>
	</div>
	
	<div class="container" th:fragment="category-home">
		<div class="row">
			<div class="col-12">
				<a th:href="@{/}" class="btn btn-sm btn-outline-warning fw-bold">Home Page</a>
				<a th:href="@{/categories}" class="btn btn-sm btn-outline-primary fw-bold ms-5">Category Home</a>
			</div>
		</div>
	</div>
	
	<div class="col-12 text-danger" th:fragment="errorDiv(field)"
     th:if="${#fields.hasErrors(field)}">
	    <ul>
	        <li th:each="err: ${#fields.errors(field)}">
	            [[${err}]]
	        </li>
	    </ul>
	</div>
	
	<div th:fragment="font">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700;800&display=swap" rel="stylesheet">
	</div>
	
	<div th:fragment="footer" class="footer" >
		<!-- Remove the container if you want to extend the Footer to full width. -->
		<div class="container-fluid px-0 mx-0" >
		
		  <footer class="bg-dark text-center text-white">
		  <!-- Grid container -->
		  <div class="container p-4 pb-0">
		    <!-- Section: Social media -->
		    <section class="mb-4">
		      <!-- Facebook -->
		      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
		        ><i class="fab fa-facebook-f"></i
		      ></a>
		
		      <!-- Twitter -->
		      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
		        ><i class="fab fa-twitter"></i
		      ></a>
		
		      <!-- Google -->
		      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
		        ><i class="fab fa-google"></i
		      ></a>
		
		      <!-- Instagram -->
		      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
		        ><i class="fab fa-instagram"></i
		      ></a>
		
		      <!-- Linkedin -->
		      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
		        ><i class="fab fa-linkedin-in"></i
		      ></a>
		
		      <!-- Github -->
		      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
		        ><i class="fab fa-github"></i
		      ></a>
		    </section>
		    <!-- Section: Social media -->
		  </div>
		  <!-- Grid container -->
		
		  <!-- Copyright -->
		  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		    © 2020 Copyright:
		    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
		  </div>
		  <!-- Copyright -->
		</footer>
		  
		</div>
<!-- End of .container -->
	</div>
	
</body>
</html>